footer.footer 
    .footer__logo 
        img(src='img/favicon.png', alt='Medicine logo')
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a Seller
        li: a(href='#') Profile
        li: a(href='#') Contact
    p.footer__copyright &copy; 2021 by Dipu Bala